# Rails
SECRET_KEY_BASE=
RAILS_MAX_THREADS=5
RAILS_LOG_LEVEL=info

# Server
PORT=3000

# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

# Workers
JOB_CONCURRENCY=1
