# General Information
# -------------------
# Documentation: https://help.github.com/articles/ignoring-files
# For personal ignore preferences, use a global ignore:
# git config --global core.excludesfile '~/.gitignore_global'

# System & IDEs Ignores
# ---------------------
*.DS_Store
.AppleDouble
.LSOverride
.localized
.directory
.Spotlight-V100
.Trashes
.Thumbs.db
.ehthumbs.db
.Desktop.ini
$RECYCLE.BIN/

# IDE Specific
.idea/
*.sublime*
.sublime-gulp.cache
.vscode/
.vscode-test
# JetBrains
.idea/
# VIM
*~
.*.swp
.Session.vim
.Sessionx.vim
.netrwhist
/tags
# OSX
.DS_Store

# Development Environment
# -----------------------
/.bundle
/.env*
!/.env*.erb
!/.env.sample
/config/master.key
/config/credentials/*.key
*.local

# Build & Dependency Folders
# --------------------------
node_modules/
/public/assets
/public/uploads
/public/vite*
/public/packs
/public/packs-test
/public/assets
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep
# Ignore SQLite databases and backups
/db/*.sqlite3*
/db/backups

# Log, Temp Files & Uploads
# --------------------------
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep
/*.log
/coverage
/uploads/*
.byebug_history
# Cypress specific
cypress-tests/cypress/results
cypress-tests/debug.log
cypress-tests/.vscode
cypress-tests/cypress/artifacts/screenshots/
cypress-tests/cypress/artifacts/videos/
cypress-tests/cypress/screenshots/
cypress-tests/cypress/videos/

# Package Managers & Tools
# ------------------------
/.yarn-integrity
/.yarnrc
yarn-1.22.5.cjs
yarn-1.22.5.js
yarn-debug.log*
yarn-error.log
.eslintcache
.dump.rdb
# Cypress node_modules and package-lock.json
cypress-tests/node_modules
cypress-tests/package-lock.json

# Misc & OS Specific Ignores
# ---------------------------
*.swp
*.byebug_history
*.rbc