<% provide(:title, "Home") %>
<div class="py-24">
  <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
    <h1 class="scroll-m-20 text-4xl font-bold tracking-tight">Shore</h1>
    <p class=" max-w-2xl text-lg text-gray-600">An opinionated template with pragmatic defaults to start your Ruby on Rails project 🚀</p>
    <p class="text-lg text-gray-600 mt-6">
      Stimulus says,
      <i class="text-indigo-600" data-controller="hello">Stimulus not loaded 😥</i>
    </p>
  </div>
</div>
