default: &default
  adapter: postgresql
  username: <%= ENV['POSTGRES_USERNAME'] || 'postgres' %>
  password: <%= ENV['POSTGRES_PASSWORD'] || 'postgres' %>
  encoding: unicode
  host: <%= ENV['POSTGRES_HOST'] || 'localhost' %>
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  <<: *default
  database: shore_development

test:
  <<: *default
  database: shore_test

production:
  <<: *default
  database: shore_production
