@import "tailwindcss";

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url("inter.woff2") format("woff2");
}

@theme {
  --font-sans: "Inter", sans-serif;
}
